.cont-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sign-in {
    background: transparent;
    border: none;
}

.sign-in span,
.sign-in a {
    font-size: 1.1em;
    color: var(--dark);
}

.theme-dark .sign-in span,
.theme-dark .sign-in a {
    color: var(--light);
}

.create-account {
    background: var(--dark-btn-account);
    color: white;
    border: none;
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px;
    margin: 0 20px;
    z-index: 5;
}

.create-account a {
    font-size: 1.1em;
    font-family: 'Roboto' !important;
    color: var(--white) !important;
}

.btn-ref {
    width: auto;
    z-index: 10;
}

@media screen and (max-width: 1050px) {
    .cont-container {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 600px) {
    .cont-container {
        position: absolute;
        top: 0;
        right: 15px;
        height: 100px;
    }
}